/nbactions.xml
/resources/data/DIGIT_INTERGERS_INPUT
/resources/output/DIGIT_INTERGERS_OUTPUT
/resources/output/anagrams.txt
/resources/output/signedwords.txt
/resources/data/unused/
/NBody/nbproject/private/
/resources/output/signedwords
/resources/output/sorted-signed-anagrams.txt
/target/